$--clr-plt-blue-100: #cfe2ff;
$--clr-plt-blue-200: #9ec5fe;
$--clr-plt-blue-300: #6ea8fe;
$--clr-plt-blue-400: #3d8bfd;
$--clr-plt-blue-500: #0d6efd;
$--clr-plt-blue-600: #0a58ca;
$--clr-plt-blue-700: #084298;
$--clr-plt-blue-800: #052c65;
$--clr-plt-blue-900: #031633;