@import './palette-group-variables/index';

:root {
  --clr-g-0: #{$--clr-g-0};
  --clr-g-2: #{$--clr-g-2};
  --clr-g-4: #{$--clr-g-4};
  --clr-g-5: #{$--clr-g-5};
  --clr-g-10: #{$--clr-g-10};
  --clr-g-11: #{$--clr-g-11};
  --clr-g-12: #{$--clr-g-12};
  --clr-g-13: #{$--clr-g-13};
  --clr-g-20: #{$--clr-g-20};
  --clr-g-30: #{$--clr-g-30};
  --clr-g-40: #{$--clr-g-40};
  --clr-g-50: #{$--clr-g-50};
  --clr-g-60: #{$--clr-g-60};
  --clr-g-70: #{$--clr-g-70};
  --clr-g-80: #{$--clr-g-80};
  --clr-g-90: #{$--clr-g-90};
  --clr-g-100: #{$--clr-g-100};
  --clr-white: #{$--clr-white};
  --clr-black: #{$--clr-black};
  --clr-transparent: #{$--clr-transparent};
}
