@use '../../colors/gray' as *;

:root {
    --clr-g-0: #{gray(100)};
    --clr-g-2: #{gray(100)};
    --clr-g-4: #{gray(100)};
    --clr-g-5: #{gray(100)};
    --clr-g-10: #{gray(200)};
    --clr-g-11: #{gray(200)};
    --clr-g-12: #{gray(200)};
    --clr-g-13: #{gray(200)};
    --clr-g-20: #{gray(300)};
    --clr-g-30: #{gray(300)};
    --clr-g-40: #{gray(400)};
    --clr-g-50: #{gray(500)};
    --clr-g-60: #{gray(600)};
    --clr-g-70: #{gray(700)};
    --clr-g-80: #{gray(800)};
    --clr-g-90: #{gray(800)};
    --clr-g-100: #{gray(900)};
    --clr-white: #{gray(100)};
    --clr-black: #{gray(900)};
    --clr-transparent: transparent;
}
