@use 'sass:math';
@use "sass:map";

@import './configuration/index';

.outline-none {
  outline: none;
}

.color-inherit {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@import './base';
@import './variables/index';
@import 'box-shadow';
@import 'hidden';
@import 'layout';
@import 'scaling-container';
@import 'tray';
@import 'infinite-list';
@import 'spinner';
@import 'typography';
@import 'button';
// @import 'inputs';
@import './inputs/index';
@import 'tabs';
@import 'drop-down';
@import 'date-picker';
// @import 'pdf-viewer';
@import 'icon';
@import 'chip';
@import './colors/index';
