.ra-clr-plt-blue {
    --clr-plt-100: #{$--clr-plt-blue-100};
    --clr-plt-200: #{$--clr-plt-blue-200};
    --clr-plt-300: #{$--clr-plt-blue-300};
    --clr-plt-400: #{$--clr-plt-blue-400};
    --clr-plt-500: #{$--clr-plt-blue-500};
    --clr-plt-600: #{$--clr-plt-blue-600};
    --clr-plt-700: #{$--clr-plt-blue-700};
    --clr-plt-800: #{$--clr-plt-blue-800};
    --clr-plt-900: #{$--clr-plt-blue-900};
}