@each $name, $shades in $--ra-config-palette-colors {
    .ra-clr-plt-#{$name} {
        --clr-plt-100: #{map.get($shades, 100)};
        --clr-plt-200: #{map.get($shades, 200)};
        --clr-plt-300: #{map.get($shades, 300)};
        --clr-plt-400: #{map.get($shades, 400)};
        --clr-plt-500: #{map.get($shades, 500)};
        --clr-plt-600: #{map.get($shades, 600)};
        --clr-plt-700: #{map.get($shades, 700)};
        --clr-plt-800: #{map.get($shades, 800)};
        --clr-plt-900: #{map.get($shades, 900)};
    }
}
