@use 'sass:map';
@use '../../configuration/palette' as *;

@each $name, $shades in $ra-config-palette-colors {
    .ra-clr-plt-#{$name} {
        --clr-plt-100: #{map.get($shades, 100)};
        --clr-plt-200: #{map.get($shades, 200)};
        --clr-plt-300: #{map.get($shades, 300)};
        --clr-plt-400: #{map.get($shades, 400)};
        --clr-plt-500: #{map.get($shades, 500)};
        --clr-plt-600: #{map.get($shades, 600)};
        --clr-plt-700: #{map.get($shades, 700)};
        --clr-plt-800: #{map.get($shades, 800)};
        --clr-plt-900: #{map.get($shades, 900)};
    }
}

@each $level in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
    .plt-#{$level} {
        --clr-plt-active: var(--clr-plt-#{$level});

        @if $level <= 500 {
            --clr-plt-inverse: var(--clr-plt-800);
        } @else {
            --clr-plt-inverse: var(--clr-plt-200);
        }
    }
}

.plt-bg {
    background-color: var(--clr-plt-active);
}

.plt-br {
    border-color: var(--clr-plt-inverse);
    border-width: 2px;
    border-style: solid;
}

.plt-clr {
    color: var(--clr-plt-inverse);
}
