@use 'sass:list';
@use 'sass:map';
@use '../colors/gray' as *;
@use '../configuration/drop-down-list-item' as *;
@use '../utilities';

/* stylelint-disable no-descending-specificity */
$-list-background: gray(100);
$-hover-menu-background: gray(200);
$-targeted-menu-background: gray(300);
$-hover-targeted-menu-background: #dfdfe0;
$-selected-menu-background: #eff7fe;
$-hover-selected-menu-background: #dceffd;
$-selected-targeted-menu-background: #d3ebfc;
$-hover-selected-targeted-menu-background: #c5e4fb;
$-disabled-menu-background: gray(200);

@mixin buildDropDownListItemContentDesignSettings($design) {
    padding: map.get($design, 'padding-v') map.get($design, 'padding-h');
    font-size: map.get($design, 'font-size');
    line-height: map.get($design, 'line-height');
    min-height: map.get($design, 'min-height');
}

@mixin buildDropDownListOlDesignSettings($design) {
    border-radius: map.get($design, 'ol-border-radius');
    padding-bottom: map.get($design, 'ol-padding-bottom');

    &:first-child {
        padding-top: map.get($design, 'ol-padding-top');
    }
}

@mixin buildDropDownListItemDesignSettings($design) {
    @include buildDropDownListOlDesignSettings($design);

    .ra-dd-list-item {
        .ra-dd-list-item-content {
            @include buildDropDownListItemContentDesignSettings($design);
        }

        &.ra-dd-menu-list-item {
            &.menu-removable .menu-remove-btn,
            &.sub-menu .menu-arrow {
                padding-left: calc(map.get($design, 'padding-h') / 2);
            }
        }
    }
}

@mixin buildDropDownListItemDesigns() {
    @if list.length(map.keys($ra-config-drop-down-list-item-default-design)) == 0 {
        @warn 'No default drop-down list-item design defined. The drop-down list will have no sizing.';
    } @else {
        @include buildDropDownListItemDesignSettings($ra-config-drop-down-list-item-default-design);
    }

    @each $designId, $design in $ra-config-drop-down-list-item-designs {
        &.ra-dd-list-design-#{$designId} {
            @include buildDropDownListItemDesignSettings($design);
        }
    }
}

.ra-drop-down {
    display: inline-block;
    position: relative;
    vertical-align: top;
    // transform-style: preserve-3d;

    .anchor-binding {
        outline: none;
        // transform-style: preserve-3d;
    }
}

.ra-dd-list-item {
    @extend .no-select;

    list-style-type: none;
    position: relative;
    outline: none;
    color: gray(800);
    background-color: transparent;
    word-break: break-word;

    .ra-dd-list-item-link {
        text-decoration: none;
    }

    .ra-dd-list-item-content {
        display: flex;
        align-items: center;
        text-align: left;
        color: inherit;
        box-sizing: border-box;
        font: inherit;
    }

    .ra-dd-list-item-control {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0;
        border: 0;
        margin: 0;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        box-shadow: none;
        width: 100%;
        opacity: 0;

        &:hover,
        &.hover,
        &:active,
        &.active,
        &:focus,
        &.focus {
            ~ .ra-dd-list-item-content {
                background-color: $-hover-menu-background;
            }
        }

        &:disabled,
        &.disabled {
            ~ .ra-dd-list-item-content {
                color: gray(300);
                background-color: transparent;
            }
        }
    }

    &.targeted {
        .ra-dd-list-item-content {
            background-color: $-targeted-menu-background;
        }

        .ra-dd-list-item-control {
            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus,
            &.focus {
                ~ .ra-dd-list-item-content {
                    background-color: $-hover-targeted-menu-background;
                }
            }
        }
    }

    &.selected {
        .ra-dd-list-item-content {
            background-color: $-selected-menu-background;
        }

        .ra-dd-list-item-control {
            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus,
            &.focus {
                ~ .ra-dd-list-item-content {
                    background-color: $-hover-selected-menu-background;
                }
            }
        }
    }

    &.targeted.selected {
        .ra-dd-list-item-content {
            background-color: $-selected-targeted-menu-background;
        }

        .ra-dd-list-item-control {
            &:hover,
            &.hover,
            &:active,
            &.active,
            &:focus,
            &.focus {
                ~ .ra-dd-list-item-content {
                    background-color: $-hover-selected-targeted-menu-background;
                }
            }
        }
    }

    &.disabled {
        .ra-dd-list-item-control {
            &:disabled,
            &.disabled {
                cursor: not-allowed;
                color: gray(300);
                background-color: $-disabled-menu-background;
            }
        }
    }

    &.border-bottom {
        border-bottom: 1px solid gray(200);
    }

    &.border-top {
        border-top: 1px solid gray(200);
    }

    &.ra-dd-menu-list-item {
        .menu-content {
            flex: 1;
        }

        .menu-icon {
            margin-right: 4px;
        }

        &.menu-checkbox {
            .ra-checkbox {
                margin-left: calc(var(--checkbox-length) / -2);
                margin-top: calc(var(--checkbox-length) / -2);
                margin-bottom: calc(var(--checkbox-length) / -2);
            }
        }

        .menu-remove-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font: inherit;
            padding: 0px;
        }
    }
}

.ra-dd-list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 100%;
    width: 100%;
    background-color: $-list-background;

    @include buildDropDownListItemDesigns();
}
