$clr-g-0: #fff !default;
$clr-g-2: #fafafa !default;
$clr-g-4: #f5f5f5 !default;
$clr-g-5: #f2f2f2 !default;
$clr-g-10: #e6e6e6 !default;
$clr-g-11: #e3e3e3 !default;
$clr-g-12: #e0e0e0 !default;
$clr-g-13:#dedede !default;
$clr-g-20: #ccc !default;
$clr-g-30: #b3b3b3 !default;
$clr-g-40: #999 !default;
$clr-g-50: #808080 !default;
$clr-g-60: #666 !default;
$clr-g-70: #4d4d4d !default;
$clr-g-80: #333 !default;
$clr-g-90: #1a1a1a !default;
$clr-g-100: #000 !default;
$clr-white: $clr-g-0 !default;
$clr-black: $clr-g-100 !default;
$clr-transparent: transparent !default;
