@use 'sass:list';

$ra-config-interactive-colors: () !default;
$ra-config-interactive-color-default: () !default;
$ra-config-interactive-designs: () !default;

@if list.length($ra-config-interactive-colors) == 0 and list.length($ra-config-interactive-color-default) == 0 {
    @warn "No interactive color schemes configured. Import defaults.scss before index.scss.";
}
