$base-success-clr: #198754;
$base-success-fill-clr: $--clr-white;

$--ra-config-interactive-color-success-base: (
    "clr": $base-success-clr,
    "bg": $--clr-transparent,
    "br": $--clr-transparent,
    "out": $--clr-transparent,

    "hover-clr": #157347,
    "hover-bg": $--clr-transparent,
    "hover-br": $--clr-transparent,
    "hover-out": $--clr-transparent,

    "focus-clr": #157347,
    "focus-bg": $--clr-transparent,
    "focus-br": $--clr-transparent,
    "focus-out": $--clr-transparent,

    "active-clr": #146c43,
    "active-bg": $--clr-transparent,
    "active-br": $--clr-transparent,
    "active-out": $--clr-transparent,
) !default;

$--ra-config-interactive-color-success-fill: (
    "clr": $base-success-fill-clr,
    "bg": $base-success-clr,
    "br": $base-success-clr,
    "out": $--clr-transparent,

    "hover-clr": $base-success-fill-clr,
    "hover-bg": #157347,
    "hover-br": #157347,
    "hover-out": $--clr-transparent,

    "focus-clr": $base-success-fill-clr,
    "focus-bg": #157347,
    "focus-br": #157347,
    "focus-out": rgba(60,153,110, 0.5),

    "active-clr": $base-success-fill-clr,
    "active-bg": #146c43,
    "active-br": #146c43,
    "active-out": $--clr-transparent,
) !default;

$--ra-config-interactive-color-success: (
    "": $--ra-config-interactive-color-success-base,
    "fill": $--ra-config-interactive-color-success-fill,
) !default;
